body {
    width: 100%;
  }
  
  .body > div {
    margin-top: 30px;
    padding: 0 20%;
  }
  
  .player-group h2,
  .player-group button,
  .computer-group h2,
  .computer-group button {
    margin-bottom: 30px;
  }
  
  .player-group button,
  .computer-group button {
    width: 175px;
    height: 225px;
    border: none;
  }
  
  .player-group img,
  .computer-group img {
    max-width: 100%;
    height: auto;
  }
  
  .body > div > div > div > button:focus,
  .body > div > div > div > button:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .container-result-win {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 182, 61);
    color: white;
    border-radius: 8px;
  }
  
  .container-result-draw {
    height: 100%;
    width: 100%;
    background-color: rgb(99, 99, 99);
    color: white;
    border-radius: 8px;
  }
  
  .container-result-lose {
    height: 100%;
    width: 100%;
    background-color: rgb(182, 0, 0);
    color: white;
    border-radius: 8px;
  }
  